.wrap {
  .table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    thead {
      tr {
        text-align: left;
        th {
          padding: 20px;
          text-align: left;
        }
      }
    }
    tbody {
      border-bottom: 1px solid #dddddd;
      padding: 20px;
      tr {
        padding: 20px;
        margin-bottom: 20px;
        gap: 20px;
        td {
          padding: 20px;
        }
      }
    }
  }
}
