.wrap {
  position: fixed;
  z-index: 10;

  .notify {
    border: 1px solid #ccc;
    border-style: dashed;
    margin-bottom: 1rem;
    transition: 0.3s;
    animation: toast_to_right 0.7s;
    .block {
      .title {
        font-weight: 600;
        text-align: left;
        color: #0a0a0a;
      }
      .desc {
        margin-top: 5px;
        text-align: left;
        color: #0a0a0a;
      }
    }

    button {
      cursor: pointer;
      float: right;
      background: none;
      border: none;
      color: #ededed;
      font-size: 16px;
    }
  }
  .toast_to_right {
    width: 365px;
    padding: 25px;
    color: white;
  }
}

.bottom-right {
  bottom: 1rem;
  right: 1rem;
}
@keyframes toast_to_right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
