.wrap{
  font-size: 16px;
  position: fixed;
  z-index: 10;

  .notify{
    margin-bottom: 1rem;
    border-radius: 4px;
    opacity: 0.9;
    transition: 0.3s;
    animation: toast_to_right 0.7s;
    .block{
      .title{
        font-weight: 600;
        font-size: 18px;
        text-align: left;
      }
      .desc{
        margin-top: 5px;
        text-align: left;
      }
    }

    button{
      cursor: pointer;
      float: right;
      background: none;
      border: none;
      color: #EDEDED;
      font-size: 16px;
    }
  }
  .toast_to_right{
    height: 50px;
    width: 365px;
    padding: 25px;
    color: white;
  }
}

.bottom-right {
  bottom: 1rem;
  right: 1rem;

}
@keyframes toast_to_right {
  from{
    transform: translateX(100%);
  } to {
    transform: translateX(0);
  }
}