.cardDetails_wrap {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;

  margin-bottom: 100px;

  .wrapperMain {
    width: 70%;
      .cardDetails_title {
        h1 {
          font-size: 40px;
          font-weight: 600;
        }
      }

      .underImageBlock {
        display: flex;
        gap: 20px;
        margin-top: 15px;
        border-bottom: 1.5px solid #0a0a0a;

        .creator {
          display: flex;

          .creatorName{
            display: flex;
            h2 {
              font-size: 14px;
              font-weight: 400;
              color: #0a0a0a;
            }
  
            h3 {
              margin-left: 5px;
              font-size: 14px;
              font-weight: 600;
              color: #0a0a0a;
            }
          }


          h4 {
            margin-left: 15px;
            font-weight: 400;
            font-size: 14px;
            color: #8a8a8a;
          }
        }
      }

      .cardDetails_image {
        margin-top: 10px;
        img {
          height: 600px;
          width: 100%;
          object-fit: cover;
        }
      }
    

    .wrapper {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .cardDetails_leftBlock {
        display: flex;
        flex-direction: column;

        .cardDetails_image_s {
          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .cardDetails_description {
          margin-top: 15px;

          p {
            min-width: 100%;
            font-size: 20px;
            font-weight: 400;
            margin-top: 5px;
          }
        }

        .cardDetails_otherInfo {
          margin-top: 25px;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          h3 {
            font-size: 16px;
            font-weight: 400;
            border-bottom: 2px solid #0a0a0a;
          }

          .otherInfoDiv{
            display: flex;
            gap: 25px;
            margin-top: 10px;
            h2{
              font-size: 16px;
            }
          }
        }

        .cardDetails_tags {
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          gap: 20px;

          .cardDetails_tagsBadge {
            display: flex;
            gap: 20px;
            align-items: center;

            h2 {
              color: #ff4f00;
            }
          }
        }

        .comments {
          .commentsTitle {
            margin-top: 15px;
            h3 {
            }
          }

          .commentInputDiv {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 10px;
            button {
              cursor: pointer;
              border: 0;
              width: 200px;
              height: 35px;
              border-radius: 50px;
              background-color: #0a0a0a;
              color: #fff;
              h3 {
                font-weight: 400;
              }
            }
            .commentInput {
              font-size: 16px;
              padding: 10px 10px 10px 5px;
              display: block;
              border: none;
              border-bottom: 1px solid #515151;
              background: transparent;
            }

            .button {
              cursor: pointer;
              height: 35px;
              border: none;
              background-color: #0a0a0a;
              width: 20%;
              color: #0a0a0a;
              font-size: 14px;
              text-transform: uppercase;
              border-radius: 5px;
              font-weight: 600;
              h3{
                color: #fff;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }

          .commList {
            margin-top: 25px;

            .comment {
              margin-top: 15px;
              display: flex;
              align-items: center;
              .avatar {
                h3 {
                  padding: 15px;
                  background-color: #ff4040;
                }
              }
              .commBody {
                margin-left: 10px;
                h4 {
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
    }
  }

    .right_block {
      width: 28%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title_rb {
        margin-top: 20px;
      }
      .cards {
        background-color: #FBFAF8;
        // gap: 40px;
        .card {
          padding: 20px;
          display: flex;
          flex-direction: column;
          .upperPart{
            img{
              width: 100%;
              height: 150px;
              object-fit: cover;
            }
          }

          .bottomPart{
            h2{
              color: #485EC6;
              font-size: 14px;
              text-transform: uppercase;
              cursor: pointer;
              &:hover{
                text-decoration: underline;
              }
            }

            h3{
              color: #0a0a0a;
              cursor: pointer;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
}


@media only screen and (max-width: 600px) {

  .cardDetails_wrap{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 0;

    .wrapperMain{
      width: 100%;

      .wrapper{
        .cardDetails_leftBlock{
          .cardDetails_description{
            p{
              word-break: break-word;
            }
          }

          .comments{
            .commentInputDiv{
              .button{
                width: 100%;
              }
            }
          }
        }
      }

      .underImageBlock{
        .creator{
          display: flex;
          flex-direction: column;

          h4{
            margin-left: 0;
          }
        }
      }

      .cardDetails_title{
        h1{
          font-size: 24px;
        }
        
      }

      .cardDetails_image{
        img{
          height: 400px;
        }
      }

    }

    .right_block{
      width: 100%;
      .card{
        padding-left: 0;
        padding-right: 0;
        
      }
    }
  }
}