.wrap{
  a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
  }
  padding-bottom: 70px;
  padding-top: 10px;
  margin: auto 150px;
  display: flex;
  flex-direction: column;
  .header_title{
    display: flex;
    align-items: center;
    cursor: pointer;
    .title{
      font-weight: bold;
    }
    .title_small{
      font-weight: 400;
      color: #FF4F00;
    }
  }
  .categories{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    .catDiv{
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      align-items: flex-start;
      li{
        h3{
          font-weight: 600;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  .about{
    text-align: justify;
    margin-top: 20px;
    p{
      font-size: 20px;
    }
  }

  hr{
    margin-top: 10px;
    border: 1px solid #ccc;
    border-style: dashed;
  }
  .foot{
    display: flex;
    flex-direction: row;
    .left_block{
      margin-right: 20px;
      width: 50%;
  
      
  
      .otherInfo{
        text-align: justify;
        margin-top: 20px;
        span{
          line-height: 150%;
          color: #8A8A8A;
        }
      }
  
    }
    .right_block{
      display: flex;
      margin-left: 20px;
      width: 50%;
      .otherInfo{
        text-align: justify;
        margin-top: 20px;
        span{
          line-height: 150%;
          color: #8A8A8A;
        }
      }
      // .socials{
      //   display: flex;
      //   gap: 30px;
      //   text-align: justify;
      //   margin-left: 20px;
      //   margin-top: 20px;
      //   h1{
      //     font-weight: 500;
      //     &:hover{
      //       color: #ff4f00;
      //     }
      //   }
      // }
    }
  }
  
}

