.wrap {
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;

  .upper_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: static;
    margin-top: 25px;
    gap: 25px;
    height: 400px;

    .leftBlock {
      // flex: none;
      width: 25%;
      position: relative;
    }

    .middleBlock {
      // flex: none;
      width: 50%;
      position: relative;
    }

    .rightBlock {
      // flex: none;
      width: 25%;
      position: relative;
    }
  }

  .hrHome {
    margin-top: 30%;
    width: 100%;
    border: 2px solid black;
  }

  .hrHome2 {
    margin-top: 5%;
    width: 100%;
    border: 2px solid black;
  }
  .titlePopular{
    display: block;
    margin-top: 10px;
    h1{
      font-size: 30px;
      font-weight: 600;
    }
  }
  .lastNewsBlock {
    margin-top: 30px;
    .lastNews {
      position: relative;
      // margin-top: 10px;
      width: 100%;
      display: block;
      // border-radius: 5px;
    }
  }

  .third_block {
    margin-top: 20px;
  }

  .sub_line {
    justify-content: center;
  }

  .newsBlock {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .fist_part {
      margin-bottom: 20px;
      h2 {
        color: #ff4f00;
      }
    }
    .second_part {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .normal_card {
        &:first-of-type {
          position: relative;
          width: 75%;
          .normal_card_img {
            img {
              width: 100%;
              object-fit: cover;
              height: 470px;
              filter: brightness(50%);
            }
          }
          .normal_card_desc {
            margin-right: 20px;
            margin-left: 20px;
            position: absolute;
            text-align: justify;
            bottom: 1px;
            h2 {
              font-weight: 400;
              color: white;
            }
            span {
              display: none;
            }
          }
        }
        width: 24%;
        justify-content: center;
        margin-bottom: 25px;
        border-bottom: 1px solid #ededed;

        .normal_card_img {
          img {
            width: 100%;
            object-fit: cover;
            height: 300px;
          }
        }

        .normal_card_desc {
          text-align: justify;
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          height: 170px;

          h2 {
            margin-bottom: 15px;

            &:hover {
              color: #ff4f00;
            }
          }

          span {
            margin-top: 15px;
          }
        }

        hr {
        }
      }
    }
  }
}
