.lastNewsBlock{
  
  h2{
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: #FF4F00;
  }
  .newsBlock{
    display: flex;
    flex-direction: column;
    gap: 80px;
    span{
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }

    .lastNews_card {
      &:nth-child(2){
        flex-direction: row-reverse;
        .lastNews_content{
          margin-left: 0;
          margin-right: 15px;
        }
      }
      display: flex;
      flex-direction: row;
      flex: 1;
      .lastNews_image {
        position: relative;
        display: flex;
        img {
          width: 370px;
          height: 240px;
          object-fit: cover;
        }
      }
    
      .lastNews_content{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    
        h4{
          font-size: 16px;
          color: #485EC6;
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
        }
    
        h3 {
          cursor: pointer;
          margin-top: 10px;
          font-size: 32px;
          font-weight: 600;
          &:hover {
            text-decoration: underline;
    
          }
        }
        h2{
          cursor: pointer;
          font-size: 22px;
          color: #0a0a0a;
          font-weight: 300;
        }
      }
    }

  }

}