.lastNewsBlock {
  h2 {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: #ff4f00;
  }
  .newsBlock {
    display: flex;
    flex-direction: column;
    gap: 80px;
    span {
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }

    .lastNews_card {
      &:nth-child(2) {
        flex-direction: row-reverse;
        .lastNews_content {
          margin-left: 0;
          margin-right: 15px;
        }
      }
      display: flex;
      flex-direction: row;
      flex: 1;
      .lastNews_image {
        position: relative;
        display: flex;
        img {
          width: 370px;
          height: 240px;
          object-fit: cover;
        }
      }

      .lastNews_content {
        display: flex;
        flex-direction: column;
        margin-left: 15px;

        h4 {
          font-size: 16px;
          margin-top: 10px;

          color: #485ec6;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }

        h3 {
          cursor: pointer;
          font-size: 32px;
          font-weight: 600;
          &:hover {
            text-decoration: underline;
          }
        }
        h2 {
          cursor: pointer;
          font-size: 20px;
          color: #0a0a0a;
          font-weight: 400;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .lastNewsBlock {
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;

    .newsBlock {
      gap: 0;
      margin-top: 0;
      .lastNews_card {
        padding-bottom: 10px;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        &:nth-child(2) {
          flex-direction: row;
          .lastNews_content {
            margin-left: 15px;
          }
        }
        flex: 1;
        .lastNews_image {
          a{
            text-align: center;
          }
          img {
            width: 100px;
            height: 70px;
            object-fit: cover;
          }
        }

        .lastNews_content {
          h4{
            font-size: 14px;
            order: 2;
            display: none;
          }
          h3 {
            text-align: justify;
            font-size: 12px;
            order: 1;
          }
          h2{
            display: none;
          }
        }
      }
    }
  }
}
