.wrap{
  display: flex;
  height: 90vh;
  .bigBlock{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: auto;
    width: 75%;
    height: 75%;
    border-radius: 5px;
    .leftBlock{
      position: relative;
      overflow: hidden;
      .cardImg{
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        bottom: 0;left: 0;right: 0;top:0;
        width: 100%;
        height: 100%;
        filter: drop-shadow(15px 15px 15px rgb(0 0 0 / 0.4));
        background-size: cover;
        z-index: 1;
        border-radius: 5px;
        .title{
          color: white;
          font-weight: 400;
        }
        .title_small{
          font-weight: 400;
          color: white;
        }
      }
    }
    .rightBlock{
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .children{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        text-align: center;
      }
    }
  }
}

