.wrap{
    .categories{
        display: flex;
        gap: 40px;
        margin-top: 15px;
        justify-content: center;
        border-bottom: 1px solid #ccc;
        border-bottom-style: dashed;
        button{
          justify-content: center;
          align-items: center;
          border:0;
          background-color: #ffffff;
          border-radius: 10px;
          margin-bottom: 15px;
          h2{
            font-weight: 500;
          }
          &:hover{
            h2{
              text-decoration: underline;
            }
          }
        }
        .active{
          //box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
          //border: 1px solid #ff4f00;
        }
    
      }
}