.wrap{
  display: flex;
  flex-direction: row;
  width: 75%;
  .imgDiv{
    img{
      width: 700px;
      max-height: 390px;
      object-fit: cover;
    }
  }
  .descDiv{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    h2{
      margin-bottom: 15px;
      &:hover{
        color: #ff4f00;
      }
    }
    p{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 450px;
      height: 200px;
      background-color: #fff;
      margin-top: 25px;
      font-size: 20px;
      line-height: 150%;
    }
  }
}