.header{
  margin: auto 150px;
  a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
  }
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  .header_title{
    display: flex;
    align-items: center;
    cursor: pointer;
    .title{
      font-weight: bold;
    }
    .title_small{
      font-weight: 400;
      color: #FF4F00;
    }
  }
  .menu{
    display: flex;
    h3{
      font-weight: 400;
      margin: 20px;
      cursor: pointer;
      &:hover{
        color: #FF4F00;
      }
    }

    .supportBtn{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 25px;
      h4{
        font-weight: 500;
        padding: 10px;
        background-color: #FF4F00;
        color: white;
      }
    }

    .header_icons{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}