.bottomNav {
  z-index: 1000;
  display: flex;
  align-items: center;
  position: sticky;
  background-color: #fff;
  top: 0;
  position: -webkit-sticky;
  // margin: auto 150px;
  border-bottom: 1px solid #ccc;
  border-bottom-style: dashed;
  a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
  }

  .first13 {
    margin-left: 150px;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    padding: 0.75rem;
    flex-shrink: 0;
    .mainLogo {
      display: block;
    }

    .mainLogoNone {
      display: none;
    }
  }

  .second13 {
    display: block;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0.75rem;
    .inSecond13 {
      display: flex;
      flex: 1;
      justify-content: center;
      h4 {
        font-size: 15px;
        margin-left: 35px !important;
        margin-right: 35px !important;
        padding: 10px;
        font-weight: 400;
        &:hover {
          background-color: #f4f4f4;
          text-decoration: underline;
        }
      }
    }
  }

  .third13 {
    margin-right: 150px;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0.75rem;
    text-align: right;
    .personIcon {
      display: block;
    }

    .personIconNone {
      display: none;
    }
  }
}


@media only screen and (max-width: 600px) {
  .bottomNav{
    display: none;
  }
  
  }