.wrap {
  display: flex;
  flex-direction: column;
  .categories {
    display: flex;
    justify-content: center;
    gap: 40px;
    border-bottom: 2px solid #ececec;
    button {
      justify-content: center;
      align-items: center;
      border: 0;
      background-color: #ffffff;
      border-radius: 10px;
      // width: 100px;
      margin-bottom: 15px;
      h2 {
        font-weight: 500;
      }
      &:hover {
        h2 {
          color: #ff4f00;
        }
      }
    }
  }
  .catTitle {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .mainBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .normal_card {
      width: 24%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 25px;
      border-bottom: 1px solid #ededed;
      &:first-of-type {
        position: relative;
        width: 75%;
        .normal_card_img {
          img {
            width: 100%;
            object-fit: cover;
            height: 470px;
            filter: brightness(50%);
          }
        }
        .desc {
          margin-right: 20px;
          margin-left: 20px;
          position: absolute;
          text-align: justify;
          bottom: 1px;
          .up_desc {
            display: flex;
            margin-bottom: 15px;
            h2 {
              background-color: #fff;
              padding: 5px;
              color: black;
              &:first-of-type {
                cursor: pointer;
                &:hover {
                  color: #ff4f00;
                  transition: ease-in-out 0.3s;
                }
              }
            }
          }
          a {
            h2 {
              font-weight: 600;
              padding: 5px;
              background-color: #fff;
              color: black;
            }
          }
        }

        .normal_card_desc {
          display: none;
        }
      }
      &:nth-child(2) {
        position: relative;
        width: 24%;
        .normal_card_img {
          img {
            width: 100%;
            object-fit: cover;
            height: 470px;
            filter: brightness(50%);
          }
        }
        .desc {
          margin-right: 20px;
          margin-left: 20px;
          position: absolute;
          text-align: justify;
          bottom: 1px;
          a {
            h2 {
              font-weight: 600;
              padding: 5px;
              background-color: #fff;
              color: black;
            }
          }
        }

        .normal_card_desc {
          display: none;
        }
      }

      .normal_card_img {
        img {
          width: 100%;
          object-fit: cover;
          height: 300px;
        }
        .up_desc {
          display: none;
        }
        .desc {
          h2 {
            margin-bottom: 15px;
            &:hover {
              color: #ff4f00;
            }
          }
        }
      }
      .normal_card_desc {
        display: flex;
        flex-direction: column;
        h4 {
          font-weight: 400;
          margin-bottom: 5px;
          color: #989898;
        }
      }
    }
  }
}
