.fist_part {
  padding-top: 20px;
  width: 100%;
  border-top: 3px solid black;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  h1 {
    font-size: 30px;
    color: #0a0a0a;

    &:hover {
      color: #485ec6;
      text-decoration: underline;
    }
  }
}
.second_part {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .normal_card {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid #ededed;
    &:first-of-type {
      border: 0;
      position: relative;

      width: 74.3%;
      .normal_card_img {
        margin-top: 20px;
        img {
          width: 100%;
          object-fit: cover;
          height: 400px;
          filter: brightness(40%);
        }
        .normal_card_desc {
          margin-left: 40%;
          bottom: 10%;
          width: 400px;
          position: absolute;
          .up_desc {
            display: none;
          }
          .titleDiv {
            background-color: #fff;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            h2 {
              font-size: 30px;
              font-weight: 600;
              color: #0a0a0a;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .up_descDown {
        display: none;
      }
    }

    &:nth-child(2) {
      border: 0;
      position: relative;
      width: 23%;
      .normal_card_img {
        margin-top: 20px;
        img {
          width: 100%;
          object-fit: cover;
          height: 400px;
          filter: brightness(40%);
        }
        .normal_card_desc {
          // padding-bottom: 20px;
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 40px;
          .up_desc {
            display: none;
          }
          .titleDiv {
            text-align: justify;

            a{
              h2 {
                background-color: none;
                padding-left: 20px;
                padding-right: 20px;
                font-size: 20px;
                font-weight: 400;
                color: #fff;
                border: none;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      .up_descDown {
        display: none;
      }
    }

    .normal_card_img {
      img {
        width: 100%;
        object-fit: cover;
        height: 200px;
      }
      .normal_card_desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;

        .up_desc {
          display: none;
        }
        h2 {
          font-size: 18px;
          font-weight: 600;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .up_descDown {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      h4 {
        font-weight: 400;
        margin-bottom: 5px;
        color: #8a8a8a;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .fist_part {
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    h1 {
      font-size: 20px;
      color: #0a0a0a;

      &:hover {
        color: #485ec6;
        text-decoration: underline;
      }
    }
  }

  .second_part {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    .normal_card {
      width: 100%;

      &:first-of-type {
        border: 0;
        position: relative;

        width: 100%;
        .normal_card_img {
          img {
            width: 100%;
            object-fit: cover;
            height: 300px;
            filter: brightness(40%);
          }
          .normal_card_desc {
            margin-left: 0%;
            bottom: 10%;
            width: 100%;
            position: absolute;
            .up_desc {
              display: none;
            }
            .titleDiv {
              background-color: #fff;
              padding-top: 20px;
              padding-left: 20px;
              padding-right: 20px;
              padding-bottom: 20px;
              h2 {
                font-size: 20px;
                font-weight: 600;
                color: #0a0a0a;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }

        .up_descDown {
          display: none;
        }
      }

      &:nth-child(2) {
        border: 0;
        position: relative;
        width: 100%;
        .normal_card_img {
          margin-top: 20px;
          img {
            width: 100%;
            object-fit: cover;
            height: 500px;
            filter: brightness(40%);
          }
          .normal_card_desc {
            // padding-bottom: 20px;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 40px;
            .up_desc {
              display: none;
            }
            .titleDiv {
              text-align: left;
              h2 {
                padding-left: 20px;
                padding-right: 20px;
                font-size: 20px;
                font-weight: 500;
                color: #fff;
                border: none;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }

        .up_descDown {
          display: none;
        }
      }

      &:last-child{
        border-bottom: 0;
      }
    }
  }
}

// .normal_card_desc {
//   margin-left: 40%;
//   bottom: 10%;
//   width: 500px;
//   position: absolute;
//   .up_desc {
//     display: none;
//   }
//   .titleDiv{
//     background-color: #fff;
//     padding-top: 20px;
//     padding-left: 20px;
//     padding-right: 20px;
//     padding-bottom: 20px;
//     h2 {
//       font-size: 30px;
//       font-weight: 600;
//       color: #0a0a0a;

//       &:hover{
//         text-decoration: underline;

//       }
//     }
//   }
// }
