.wrap {
  display: flex;
  flex-direction: column;
  .categories {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 50px;
    button {
      justify-content: center;
      align-items: center;
      border: 0;
      background-color: #ffffff;
      margin-bottom: 15px;
      padding: 10px;
      h2 {
        font-size: 15px;
        font-weight: 600;
      }
      &:hover {
        background-color: #f4f4f4;
        text-decoration: underline;
      }
    }
  }
  .catTitle {
    margin-bottom: 5px;
  }

  .mainBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .normal_card {
      width: 32%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 25px;
      border-bottom: 1px solid #ccc;
      border-bottom-style: dashed;
      &:first-of-type {
        border: 0;
        position: relative;
        width: 100%;
        .normal_card_img {
          img {
            width: 100%;
            object-fit: cover;
            height: 520px;
            filter: brightness(50%);
          }
        }
        .desc {
          margin-right: 20px;
          margin-left: 20px;
          position: absolute;
          text-align: justify;
          bottom: 1px;
          .up_desc {
            display: flex;
            margin-bottom: 15px;
            h6 {
              background-color: #FBFAF8;
              padding: 5px;
              font-size: 20px;
              color: black;
            }
          }
          .titleDesc{
            font-size: 32px;
            font-weight: 600;
            padding: 5px;
            background-color: #FBFAF8;
            color: #0a0a0a;
          }
        }

        .normal_card_desc {
          display: none;
        }
      }

      .normal_card_img {
        img {
          width: 100%;
          object-fit: cover;
          height: 420px;
        }
        .up_desc {
          display: none;
        }
        .desc {
          h2 {
            margin-bottom: 15px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .normal_card_desc {
        display: flex;
        flex-direction: column;
        h4 {
          font-weight: 400;
          margin-bottom: 5px;
          color: #8A8A8A;
        }
      }
    }


  }
  .loadMoreButton{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    button {
      cursor: pointer;
      height: 45px;
      border: 0;
      box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
      border-radius: 50px;
      background-color: #0a0a0a;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      width: 15%;
    }
  }
}
