.fist_part {
  margin-bottom: 20px;
  h1 {
    color: #ff4f00;
  }
}
.second_part {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .normal_card {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid #ededed;
    &:first-of-type {
      position: relative;
      width: 75%;
      .normal_card_img {
        img {
          width: 100%;
          object-fit: cover;
          height: 470px;
          filter: brightness(50%);
        }
        .normal_card_desc {
          margin-right: 20px;
          margin-left: 20px;
          position: absolute;
          text-align: justify;
          bottom: 10px;
          .up_desc {
            display: flex;
            margin-bottom: 15px;
            h2 {
              background-color: #fff;
              padding: 5px;
              color: black;
              &:first-of-type {
                cursor: pointer;
                &:hover {
                  color: #ff4f00;
                  transition: ease-in-out 0.3s;
                }
              }
            }
          }
          span {
            font-size: 24px;
            font-weight: 600;
            color: black;
            background-color: #fff;
            padding: 5px;
          }
        }
      }

      .up_descDown {
        display: none;
      }
    }

    .normal_card_img {
      img {
        width: 100%;
        object-fit: cover;
        height: 300px;
      }
      .normal_card_desc {
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;

        .up_desc {
          display: none;
        }
        span {
          font-size: 18px;
          font-weight: 600;
          margin-top: 15px;
          &:hover {
            color: #ff4f00;
          }
        }
      }
    }

    .up_descDown {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      h4{
        font-weight: 400;
        margin-bottom: 5px;
        color: #989898;
      }
    }
  }
}
