.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .leftSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    button {
      cursor: pointer;
      height: auto;
      border: 0;
      padding: 10px;
      font-size: 14px;
      font-weight: 600;
      box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
      background-color: #0a0a0a;
      color: #fff;
      width: 150px;
      text-transform: uppercase;
    }

    .name {
      h2 {
        font-size: 18px;
        font-weight: 500;
      }
      h3 {
        color: #8a8a8a;
        font-weight: 300;
      }
    }

    .button {
      button {
        cursor: pointer;
        height: 35px;
        border: 0;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        background-color: #ff4f00;
        color: #fff;
        width: 100%;
      }
    }

    .editData {
      margin-top: 15px;
      .titleInput {
        height: 40px;
        border: 2px solid #ededed;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        width: 100%;
        margin-top: 15px;
      }
      .buttons {
        display: flex;
        gap: 20px;
        .button {
          height: 35px;
          border: 0;
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
          border-radius: 20px;
          background-color: #ff4f00;
          color: #fff;
          width: 150px;

          &:last-child {
            background-color: #ededed;
            color: black;
          }
        }
      }
      .imageInput {
        input[type="file"] {
          display: none;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        h2 {
          font-weight: 400;
          color: #ff4f00;
        }
        height: 35px;
        width: 100%;
        border: 0;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        border-radius: 15px;
      }
    }

    .stats {
      margin-top: 25px;
      .sts {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        h3 {
          font-weight: 400;
        }
        h2 {
          font-weight: 500;
        }
      }
    }
  }

  .socMedia {
    margin-top: 25px;
    margin-bottom: 25px;

    h2 {
      font-size: 20px;
      font-weight: 600;
    }

    .socDivs {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      .socIn {
        display: flex;
        justify-content: space-between;

        .socDivIn{
          display: flex;
          align-items: center;
          gap: 10px;
          h2 {
            font-size: 18px;
          }
  

        }

        .socInButton{
          background-color: #0a0a0a;
          height: auto;
          border: 0;
          padding: 10px;
          h3 {
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
          }
        }

      }
    }
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .image {
        display: flex;
        .cardImage {
          img {
            width: 350px;
            height: 200px;
            object-fit: cover;
            filter: brightness(50%);
          }
        }
        .title {
          margin-left: 10px;
          h2 {
            color: #0a0a0a;
            font-size: 20px;
          }
          h3 {
            margin-top: 15px;
            font-weight: 300;
            font-size: 18px;
          }
        }
      }

      .description {
        display: flex;

        .stats {
          .sts {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            h3 {
              font-size: 16px;
              font-weight: 400;
            }
            h2 {
              margin-left: 10px;
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .loadMoreButton {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      button {
        cursor: pointer;
        height: 45px;
        border: 0;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        border-radius: 50px;
        background-color: #0a0a0a;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        width: 15%;
      }
    }
  }
}
