.wrap{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  .title{
    p{
      padding: 30px;
      color: #9b9b9b;
    }
  }
  .inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    .titleInput {
      height: 35px;
      border: 0;
      box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
      padding: 10px;
      border-radius: 5px;
      width: 350px;
    }
    .button {
      cursor: pointer;
      height: 50px;
      border: none;
      background-color: #0a0a0a;
      width: 100%;
      color: #0a0a0a;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 5px;
      font-weight: 600;
      h2{
        color: #fff;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .buttonDis{
      cursor: not-allowed;
      height: 50px;
      border: none;
      background-color: #ccc;
      width: 100%;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 5px;
      font-weight: 600;
      h3{
        color: #fff;
      }
    }
  }
  .desc{
    display: flex;
    .ptag{
      margin-left: 5px;
      color: #2AABEE;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
