.rus_losses {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title_losses h3{
    font-size: 22px;
    font-weight: 600;
  }
  .losses_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .counter{
      font-size: 20px;
      font-weight: 400;
    }
    .name{
      font-size: 12px;
      font-weight: 400;
    }
  }
  .losses_list_map{
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}