.comment {
  margin-top: 25px;
  display: flex;
  .avatar {
    width: 3.5em;
    height: 3.5em;
    font-size: 15px;
  }
  .commBody {
    width: 100%;
    margin-left: 10px;
    .commContent{
      display: flex;
      justify-content: space-between;
      h5 {
        font-weight: 300;
      }
      .commActions{
        display: flex;
        gap: 15px;
        color: #ccc;
        h6{
          cursor: pointer;
          .deleteButton{
            width: 0.9em;
            height: 0.9em;
            &:hover{
              color: #485EC6;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .commentBody{
      margin-top: 10px;
      p {
        font-size: 16px;
        word-break: break-all;
      }
    }
    .commText{
      margin-top: 10px;

      .commActions{
        h6{
          cursor: pointer;
          font-size: 14px;

          &:hover{
            color: #485EC6;
            text-decoration: underline;
          }

        }
      }


      .replyBlock{
        margin-top: 35px;
        .commentInput{
          font-size: 14px;
          padding: 10px 10px 10px 5px;
          display: block;
          border: none;
          border-bottom: 1px solid #515151;
          background: transparent;
          width: 75%;
        }
        .buttonBlock{
          margin-top: 10px;
          display: flex;
          gap: 10px;
          button{
            background-color: #0a0a0a;
            border: 0;
            height: 30px;
            width: 115px;
            color: #fff;
            font-size: 14px;
            border-radius: 50px;

            &:nth-child(2){
              background-color: #fff;
              border: 1px solid #0a0a0a;
              color: #0a0a0a;

            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 600px) {

.comment{

  
  .commBody{


    .commentBody{
      h4{
        width: 100px;
      }
    }
  }
}
}