.lastNews_card {
  display: flex;
  flex: 1;
  height: 219px;
  .lastNews_card_img {
    position: relative;
    width: 100%;
    display: flex;
    text-align: justify;
    img {
      width: 100%;
      object-fit: cover;
      filter: brightness(50%);
    }
    h3{
      position: absolute;
      padding: 5px;
      background-color: #ff4f00;
      display: inline-block;
      color: #fff;
      font-weight: 400;
    }
    span {
      position: absolute;
      padding: 10px;
      bottom: 10px;
      font-size: 20px;
      font-weight: 400;
      color: white;

      &:hover {
        color: #ff4f00;
      }
    }
  }
}