.wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
  gap: 30px;
  margin-top: 15px;

  .left_block {
    margin-top: 10px;
    gap: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;

    .titleInput {
      height: 30px;
      border: 1px solid #8A8A8A;
      padding: 10px;
    }

    .descriptionInput {
      min-height: 350px;
      border: 1px solid #8A8A8A;
      padding: 10px;
      resize: vertical;
    }
    .imageInput {
      cursor: pointer;
      input[type="file"] {
        display: none;
      }

      display: flex;
      align-items: center;
      justify-content: center;

      h4 {
        font-weight: 400;
        color: #0a0a0a;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
      }
      width: 200px;
      border: 0;
      padding: 10px;
      // background-color: #0a0a0a;
      border: 1px solid #0a0a0a;
    }
    
    .imgActive{
      input[type="file"] {
        display: none;
      }

      display: flex;
      align-items: center;
      justify-content: center;

      h4 {
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
      }

      width: 200px;
      border: 0;
      background-color: #0a0a0a;
      padding: 10px;
    }

    .categoryInput {
      height: 35px;
      border: 0;
      box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
      padding: 10px;
      border-radius: 10px;

    }

    .categories {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      button {
        height: auto;
        padding: 10px;
        border: 1px solid #E0E0E0FF;
        background-color: #fff;
        width: 30%;
        color: #0a0a0a;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        
      }

      .active {
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        border: 1px solid #0a0a0a;
      }

    }


    .commentInput {
      font-size: 16px;
      padding: 10px 10px 10px 5px;
      display: block;
      border: none;
      border-bottom: 1px solid #515151;
      background: transparent;
    }

    .button {
      cursor: pointer;
      height: 35px;
      border: none;
      background-color: #0a0a0a;
      width: 30%;
      color: #0a0a0a;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 5px;
      font-weight: 600;
      h3{
        color: #fff;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .buttonDis{
      cursor: not-allowed;
      height: 35px;
      border: none;
      background-color: #ccc;
      width: 30%;
      color: #0a0a0a;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 5px;
      font-weight: 600;
      h3{
        color: #fff;
      }
    }
  }

  .right_block {
    width: 50%;
    line-height: 200%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    span{
      
    }

    .email{
      display: flex;
      h3{
          font-size: 18px;
      }
      h2{
          margin-left: 15px;
          font-size: 18px;
          text-decoration: underline;
          color: #485EC6;
      }
  }
  }
}

@media only screen and (max-width: 600px) {
  .wrap {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;

    .left_block{
      width: 100%;

      .button{
        width: 100%;
      }
      .imageInput {
        
        display: flex;
        width: 60%;
        cursor: pointer;
        input[type="file"] {
          display: none;
        }

        h4 {
          font-weight: 600;
        }
        
  
        // background-color: #0a0a0a;
      }
      .imgActive {
        
        display: flex;
        width: 60%;
        cursor: pointer;
        input[type="file"] {
          display: none;
        }

        h4 {
          font-weight: 600;
        }
        
  
        // background-color: #0a0a0a;
      }

      .categories {
        display: flex;
        // gap: 20px;
        flex-wrap: wrap;
        button {
          height: auto;
          padding: 10px;
          border: 1px solid #E0E0E0FF;
          background-color: #fff;
          width: 100%;
          color: #0a0a0a;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
          
        }
  
        .active {
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
          border: 1px solid #0a0a0a;
        }
  
      }
    }
    .right_block{
      width: 100%;

      .email{
        display: flex;
        flex-direction: column;
        h3{
            font-size: 18px;
        }
        h2{
            margin-left: 0;
            font-size: 18px;
            text-decoration: underline;
            color: #485EC6;
        }
    }
    }
  }
}