.wrap {
  display: flex;
  justify-content: center;

  gap: 20px;

  height: 450px;
  .big_card {
    width: 55%;
  }

  .small_card {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 45%;

    .newsBlockDiv {
      width: 49%;

      height: 219px;
    }
  }
}